* {
    box-sizing: border-box;
}

body {
    margin: unset;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", serif;
}
